// ===== Mixin styles
@mixin transition($prop,$time,$tf){
  transition: $prop, $time, $tf;
  -webkit-transition: $prop, $time, $tf;
  -moz-transition: $prop, $time, $tf;
  -o-transition: $prop, $time, $tf;
}
// Variables
$mainColor: #5A077D;

// ======== Include Fonta
@font-face {
  font-family: "Open Sans Light";
  src: url("../font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
// ====== Main Style
 body{
   font: {
     family: "Open Sans Regular",  sans-serif;
     size: 16px;
     weight: normal;
   }
   background-color: #f1f1f1;
 }
h1,h2,h3.h4,h5,h6,strong,b, .font-weight-bold{
  font-family: "Open Sans Bold", sans-serif;
}
.font-weight-normal{
  font-family: "Open Sans Regular", sans-serif, important;
}
.font-weight-light{
  font-family: "Open Sans Light", sans-serif, important;
}
.btn {
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.8;
  @include transition(all, 0.4s, linear);

  &:hover {
    opacity: 1;
  }
  &.btn-sm{
    padding: 0.2rem 1rem;
    font-size: 16px;
  }

  &.btn-primary {
    background-color: $mainColor;
    border-color: $mainColor;
  }
}
// ===== Include icons
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: rgba(6, 6, 6, 0.5);
  vertical-align: middle;
  mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  -webkit-mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  &.icon-heart {
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg");
  }
  &.icon-shopping-cart {
    mask-image: url("../icons/shopping-cart.svg");
    -webkit-mask-image: url("../icons/shopping-cart.svg");
  }
}
  .icons {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: rgba(98, 98, 98, 0.78);
    vertical-align: -2px;
    margin-right: 4px;
    mask: {
      image: url("../icons/eye.svg");
      size: 100%;
      repeat: no-repeat;
      position: center center;
    }
    -webkit-mask: {
      size: 100%;
      repeat: no-repeat;
      position: center center;
    }
    &.icon-eye {
      mask-image: url("../icons/eye.svg");
      -webkit-mask-image: url("../icons/eye.svg");
    }
    &.icon-downland{
      mask-image: url("../icons/download.svg");
      -webkit-mask-image: url("../icons/download.svg");
    }
  }
.icon1 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: rgba(98, 98, 98, 0.78);
  vertical-align: center;
  margin-left: 3px;
  margin-right: 4px;
  mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  -webkit-mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }

  &.icon-eye {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg");
  }
}
.icon2 {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgba(98, 98, 98, 0.78);
  vertical-align: center;
  margin-left: 3px;
  margin-right: 4px;
  mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  -webkit-mask: {
    size: 100%;
    repeat: no-repeat;
    position: center center;
  }
  &.icon-heart{
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg");
  }
}
header{
  .container{
    .row{
      position: relative;
      .col-md-12{
        ul{
          li{
            width: 10px;
            display: block;
            height: 10px;
            border-radius: 10px;
          }
        }
      }
      .book{
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background-color: #900090;
        opacity: 0.7;
        position: absolute;
      }
    }
  }
}

   .video-section{
     .container{
       background-color: rgba(169, 7, 229, 0.07);
       padding-top: 20px;
       .nav{

         li{
           a{
             p{
               border-bottom: 2px solid blueviolet;
             }
             color: #878787;
           }
         }
         margin-bottom: 30px;
       }
       .row{
         padding-bottom: 30px;
         .col{
           padding: 0;
           .card{
             padding: 15px;
             background: none;
             border: none;
             &:hover {
               background-color: white;
               transform: translateY(-5px);
               box-shadow: 0 4px 15px #555555;
               border-radius: 8px;
               opacity: 0.5;
               transition: all 0.5s ease-in-out;
             }
               &:hover .black{
                 opacity: 1;
                 background-color: white;
               }
             .card-body{
               padding: 0;
               .nice{
                 overflow: hidden;
                 position: relative;
                 .bepul{
                   border: 1px solid lavender;
                   background-color: white;
                   color: rgba(88, 35, 139, 0.82);
                   font-size: 14px;
                   width: 198px;
                   height: 20px;
                   text-align: center;
                   transform: translateY(-150px) translateX(120px) rotateZ(45deg);
                 }
                 .card-img-overlay{
                   position: absolute;
                   left: 50%;
                   top: 50%;
                   transform: translateX(-50%) translateY(-50%);
                   .black{
                     margin-left: 20px;
                     width: 40px;
                     height: 35px;
                     border-radius: 8px;
                     opacity: 0;
                     &:hover{
                       transform: translateY(-4px);
                       @include transition(all, 0.4s, linear);
                        }
                       &:hover .icon2 {
                         background-color: #4fdb43;

                     }
                     button{
                       margin-top: 5px;
                       margin-left: 8px;
                     }
                   }
                 }
               }
               .and{
                 font-size: 15px;
                 color: #4f4f4f;
               }
               .row{
                 width: 260px;
                 padding-bottom: 0;
                 margin-left: -2px;
                 .col{
                   padding: 0;
                   p{
                     padding-right: 0;
                     font-size: 11px;
                   }
                 }
               }
             }
           }
         }
       }
     }
   }

   .audio-section {
     .container {
       background-color: rgba(169, 7, 229, 0.07);
       p {
         padding-top: 40px;
         text-align: center;
       }
       .nav {
         li a {
           color: #878787;
           p{
             margin: 0;
             padding: 0;
           }
         }
       }
       .row {
         .col {
           .card {
             background: none;
             border: none;
             .card-body{
               &:hover {
                 transform: translateY(-5px);
                 box-shadow: 0 4px 10px rgba(122, 122, 122, 0.94);
                 border-radius: 8px;
                  transition: all 0.5s ease-in-out;
                 cursor: pointer;
               }
               &:hover .ish{
                 opacity: 0.5;
               }
               &:hover .card-img-overlay{
                 opacity: 1;
               }
               .ish{
                 position: relative;
                 padding: 0;
                 margin: 0;
                 display: block;
                 overflow: hidden;
                 img{
                   width: 220px;
                 }
                 .pu {
                   border: 1px solid lavender;
                   background-color: white;
                   position: absolute;
                   color: rgba(88, 35, 139, 0.82);
                   font-size: 14px;
                   width: 198px;
                   text-align: center;
                   transform: translateY(-320px) translateX(90px) rotateZ(45deg);
                 }
               }
               .card-img-overlay{
                 margin: 0;
                 bottom: auto;
                 right: auto;
                 top: 40%;
                 left: 50%;
                 transform: translateY(-50%)translateX(-50%);
                 padding-left: 25px;
                 width: 160px;
                 display: inline-block;
                 opacity: 0;
                 .number{
                   width: 112px;
                   margin: 0;
                   button{
                     width: 50px;
                     height: 40px;
                     box-shadow: none;
                     border-radius: 8px;
                     background-color: #ffffff;
                     &:hover{
                       transform: translateY(-4px);
                         @include transition(all, 0.4s, linear);
                         &:hover .icon{
                           background-color: #4fdb43;
                       }
                     }
                   }
                 }
               }
               p {
                 padding: 0;
                 margin: 10px 0 0 0;
                 text-align: left;
                 font-size: 15px;
               }

               .row {
                 width: 198px;
                 margin-left: -4px;
                 margin-right: 0;

                 .col {
                   p {
                     font-size: 12px;
                   }

                   padding-right: 4px;
                   padding-left: 4px;

                   span {
                     padding-top: 3px;
                     padding-right: 5px;
                   }
                 }
               }
             }
           }
         }
       }
     }
   }

