@font-face {
  font-family: "Open Sans Light";
  src: url("../font/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../font/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/OpenSans-Bold.ttf") format("truetype"); }
body {
  font-family: "Open Sans Regular",  sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #f1f1f1; }

h1, h2, h3.h4, h5, h6, strong, b, .font-weight-bold {
  font-family: "Open Sans Bold", sans-serif; }

.font-weight-normal {
  font-family: "Open Sans Regular", sans-serif, important; }

.font-weight-light {
  font-family: "Open Sans Light", sans-serif, important; }

.btn {
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.8;
  transition: all, 0.4s, linear;
  -webkit-transition: all, 0.4s, linear;
  -moz-transition: all, 0.4s, linear;
  -o-transition: all, 0.4s, linear; }
  .btn:hover {
    opacity: 1; }
  .btn.btn-sm {
    padding: 0.2rem 1rem;
    font-size: 16px; }
  .btn.btn-primary {
    background-color: #5A077D;
    border-color: #5A077D; }

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: rgba(6, 6, 6, 0.5);
  vertical-align: middle;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center; }
  .icon.icon-heart {
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg"); }
  .icon.icon-shopping-cart {
    mask-image: url("../icons/shopping-cart.svg");
    -webkit-mask-image: url("../icons/shopping-cart.svg"); }

.icons {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: rgba(98, 98, 98, 0.78);
  vertical-align: -2px;
  margin-right: 4px;
  mask-image: url("../icons/eye.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center; }
  .icons.icon-eye {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg"); }
  .icons.icon-downland {
    mask-image: url("../icons/download.svg");
    -webkit-mask-image: url("../icons/download.svg"); }

.icon1 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: rgba(98, 98, 98, 0.78);
  vertical-align: center;
  margin-left: 3px;
  margin-right: 4px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center; }
  .icon1.icon-eye {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg"); }

.icon2 {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgba(98, 98, 98, 0.78);
  vertical-align: center;
  margin-left: 3px;
  margin-right: 4px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center; }
  .icon2.icon-heart {
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg"); }

header .container .row {
  position: relative; }
  header .container .row .col-md-12 ul li {
    width: 10px;
    display: block;
    height: 10px;
    border-radius: 10px; }
  header .container .row .book {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #900090;
    opacity: 0.7;
    position: absolute; }

.video-section .container {
  background-color: rgba(169, 7, 229, 0.07);
  padding-top: 20px; }
  .video-section .container .nav {
    margin-bottom: 30px; }
    .video-section .container .nav li a {
      color: #878787; }
      .video-section .container .nav li a p {
        border-bottom: 2px solid blueviolet; }
  .video-section .container .row {
    padding-bottom: 30px; }
    .video-section .container .row .col {
      padding: 0; }
      .video-section .container .row .col .card {
        padding: 15px;
        background: none;
        border: none; }
        .video-section .container .row .col .card:hover {
          background-color: white;
          transform: translateY(-5px);
          box-shadow: 0 4px 15px #555555;
          border-radius: 8px;
          opacity: 0.5;
          transition: all 0.5s ease-in-out; }
        .video-section .container .row .col .card:hover .black {
          opacity: 1;
          background-color: white; }
        .video-section .container .row .col .card .card-body {
          padding: 0; }
          .video-section .container .row .col .card .card-body .nice {
            overflow: hidden;
            position: relative; }
            .video-section .container .row .col .card .card-body .nice .bepul {
              border: 1px solid lavender;
              background-color: white;
              color: rgba(88, 35, 139, 0.82);
              font-size: 14px;
              width: 198px;
              height: 20px;
              text-align: center;
              transform: translateY(-150px) translateX(120px) rotateZ(45deg); }
            .video-section .container .row .col .card .card-body .nice .card-img-overlay {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%); }
              .video-section .container .row .col .card .card-body .nice .card-img-overlay .black {
                margin-left: 20px;
                width: 40px;
                height: 35px;
                border-radius: 8px;
                opacity: 0; }
                .video-section .container .row .col .card .card-body .nice .card-img-overlay .black:hover {
                  transform: translateY(-4px);
                  transition: all, 0.4s, linear;
                  -webkit-transition: all, 0.4s, linear;
                  -moz-transition: all, 0.4s, linear;
                  -o-transition: all, 0.4s, linear; }
                .video-section .container .row .col .card .card-body .nice .card-img-overlay .black:hover .icon2 {
                  background-color: #4fdb43; }
                .video-section .container .row .col .card .card-body .nice .card-img-overlay .black button {
                  margin-top: 5px;
                  margin-left: 8px; }
          .video-section .container .row .col .card .card-body .and {
            font-size: 15px;
            color: #4f4f4f; }
          .video-section .container .row .col .card .card-body .row {
            width: 260px;
            padding-bottom: 0;
            margin-left: -2px; }
            .video-section .container .row .col .card .card-body .row .col {
              padding: 0; }
              .video-section .container .row .col .card .card-body .row .col p {
                padding-right: 0;
                font-size: 11px; }

.audio-section .container {
  background-color: rgba(169, 7, 229, 0.07); }
  .audio-section .container p {
    padding-top: 40px;
    text-align: center; }
  .audio-section .container .nav li a {
    color: #878787; }
    .audio-section .container .nav li a p {
      margin: 0;
      padding: 0; }
  .audio-section .container .row .col .card {
    background: none;
    border: none; }
    .audio-section .container .row .col .card .card-body:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(122, 122, 122, 0.94);
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
      cursor: pointer; }
    .audio-section .container .row .col .card .card-body:hover .ish {
      opacity: 0.5; }
    .audio-section .container .row .col .card .card-body:hover .card-img-overlay {
      opacity: 1; }
    .audio-section .container .row .col .card .card-body .ish {
      position: relative;
      padding: 0;
      margin: 0;
      display: block;
      overflow: hidden; }
      .audio-section .container .row .col .card .card-body .ish img {
        width: 220px; }
      .audio-section .container .row .col .card .card-body .ish .pu {
        border: 1px solid lavender;
        background-color: white;
        position: absolute;
        color: rgba(88, 35, 139, 0.82);
        font-size: 14px;
        width: 198px;
        text-align: center;
        transform: translateY(-320px) translateX(90px) rotateZ(45deg); }
    .audio-section .container .row .col .card .card-body .card-img-overlay {
      margin: 0;
      bottom: auto;
      right: auto;
      top: 40%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding-left: 25px;
      width: 160px;
      display: inline-block;
      opacity: 0; }
      .audio-section .container .row .col .card .card-body .card-img-overlay .number {
        width: 112px;
        margin: 0; }
        .audio-section .container .row .col .card .card-body .card-img-overlay .number button {
          width: 50px;
          height: 40px;
          box-shadow: none;
          border-radius: 8px;
          background-color: #ffffff; }
          .audio-section .container .row .col .card .card-body .card-img-overlay .number button:hover {
            transform: translateY(-4px);
            transition: all, 0.4s, linear;
            -webkit-transition: all, 0.4s, linear;
            -moz-transition: all, 0.4s, linear;
            -o-transition: all, 0.4s, linear; }
            .audio-section .container .row .col .card .card-body .card-img-overlay .number button:hover:hover .icon {
              background-color: #4fdb43; }
    .audio-section .container .row .col .card .card-body p {
      padding: 0;
      margin: 10px 0 0 0;
      text-align: left;
      font-size: 15px; }
    .audio-section .container .row .col .card .card-body .row {
      width: 198px;
      margin-left: -4px;
      margin-right: 0; }
      .audio-section .container .row .col .card .card-body .row .col {
        padding-right: 4px;
        padding-left: 4px; }
        .audio-section .container .row .col .card .card-body .row .col p {
          font-size: 12px; }
        .audio-section .container .row .col .card .card-body .row .col span {
          padding-top: 3px;
          padding-right: 5px; }

/*# sourceMappingURL=main.css.map */
